<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336373374817-b1r6j0d4qpctancpci5dc7bpl5lvj3t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336373374817-b1r6j0d4qpctancpci5dc7bpl5lvj3t0</string>
	<key>API_KEY</key>
	<string>AIzaSyAE11lJolK8Oyj28ulNVYmn5NJgVJ4E7gI</string>
	<key>GCM_SENDER_ID</key>
	<string>336373374817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lainDain</string>
	<key>PROJECT_ID</key>
	<string>lain-dain-33f4e</string>
	<key>STORAGE_BUCKET</key>
	<string>lain-dain-33f4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:336373374817:ios:63a00f685eacf4f4efaf20</string>
</dict>
</plist>
